
@use 'styles.scss' as *;
@use 'sidebar.scss';

// Main 
body {
  background: $black;
  height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
.navigation {
    padding: 20px 0;
    position: fixed;
    left: 30px;
}
.logo {
    font-weight: 400;
    color: $white;
    width: fit-content;
    @include CyberPunk;
    font-size: 1.8rem;
    font-weight: 500;
}
body {
    display: flex;
    height: 100vh;
    @include ClashDisplay;
}
.header {
    transition: all ease 0.3s;
    width: 20%;
    background-image: url(../images/bg_3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.logo {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
}

// Main Section
.main {
    padding: 30px 30px 20px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.subtitle {
    color: $white-transparent;
    font-size: 1.3rem;
    display: flex;
    &:before {
        content: "";
        flex: 1;
        background-color: $white-transparent;
        height: 1px;
        margin-left: 30px;
        order: 2;
        margin-top: 15px;
    }
}
.title {
    font-size: 3rem;
    color: $white;
    margin: 30px 0;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $white-transparent;
        bottom: -30px;
        position: absolute;
        display: block;
    }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 30px));
  grid-template-rows: repeat(4, 25%);
  gap: 10px;
  column-gap: 30px;
  height: calc(100% - 250px);
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 40px;

  &__img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: stretch;
    order: 2;
    transition: all ease 0.2s;
    &:hover {
        border: 1px solid $white-transparent;
    }
  }

  &__img:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
  }

  &__img:nth-child(2) { grid-column: 5 / 6; grid-row: 1 / 2; }
  &__img:nth-child(3) { grid-column: 5 / 6; grid-row: 2 / 3; }
  &__img:nth-child(4) { grid-column: 5 / 6; grid-row: 3 / 4; }
  &__img:nth-child(5) { grid-column: 5 / 6; grid-row: 4 / 5; }
}
.breadcrumbs {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    gap: 20px;
    &:before {
        content: "";
        flex: 1;
        height: 1px;
        background-color: $white-transparent;
        margin: 0 10px;
        order: 2;
        margin-top: 15px;
    }
    &__title {
        color: $white;
        font-size: 1.3rem;
        order: 1;
    }
    &-link {
        order: 3;
        color: $white;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__arrow {
            width: 20px;
        }
    }
}


// Additional Classes And Animations
.rotate {
    transform: rotate(180deg);
}


// Responsive
@media screen and (max-width: 992px) {
    body {
        flex-direction: column;
    }
    .header {
        width: 100%;
        height: auto;

    }
    .top-menu {
        width: 200px;
    }
}
@media screen and (max-width: 768px) {
    .subtitle, .breadcrumbs__title, .breadcrumbs-link {
        font-size: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .gallery {
        margin-left: 0;
        margin-top: 20px;
        display: block;
        &__img {
            width: 70%;
            margin: 0 auto;
            height: auto;
            margin-bottom: 20px;
        }
       
    }
}
@media screen and (max-width: 576px) {
    .gallery__img {
        width: 100%;
    }
}