@use 'main.scss';
@use 'styles.scss' as *;

// Main 
body {
    display: flex;
    height: 100vh;
}
.header {
    width: 20%;
    background-image: url(../images/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.logo {
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
}

// Top Menu
.top-menu {
    overflow: hidden;
    height: 40px;
    transition: all ease 0.3s;
    &__item {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        color: $white;
        padding: 10px;
        background-color: $grey-transparent;
        border-radius: 5px;
        font-weight: 500;
        font-size: 1.2rem;
        position: relative;
        margin-bottom: 10px;
        & .arrow {
            width: 20px;
        }
    }
}
.updates-status {
    display: flex;
    margin-right: 30px;
    opacity: 0.6;
    &__item {
        display: none;
    }
    & .active {
        display: block;
    }
}
.tickets {
    flex-direction: column;
    &-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            display: block;
            background-color: rgba(255, 255, 255, 0.4);
            position: absolute;
            bottom: -15px;
        }
    }
    &-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        margin-top: 30px;
        & .arrow {
            position: unset;
        }
    }
}
.newsletters-link {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.top-menu__arrow {
    position: absolute;
    width: 20px;
    right: 10px;
    top: 10px;
    transition: all ease 0.3s;
}


// Bottom Menu
.bottom-menu {
    margin-top: auto;
    &__item {
        display: block;
        margin-left: 50px;
        position: relative;
        &:before {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $white-transparent;
            position: absolute;
            left: -30px;
            top: 5px;
            display: block;
        }
        &:not(:last-child):after {
            content: '';
            display: block;
            width: 1px;
            height: 150%;
            background-color: $white-transparent;
            position: absolute;
            left: -25px;
            top: 15px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &.active {
            & .bottom-menu__link {
                color: $white;
            }
            &::before{
                background-color: $white;
            }
        }
    }
    &__link {
        font-size: 1.3rem;
        color: $white-transparent;
    }
}

// Submenus
.bottom-menu__item.active > .bottom-submenu {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    .bottom-submenu:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: $white-transparent;
        left: -20px;
    }
    .bottom-submenu__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .bottom-submenu__link {
        color: $white;
        font-size: 1.2rem;
    }
}
.bottom-menu__item:not(.active) > .bottom-submenu {
    display: none;
}
.bottom-menu__item.active .bottom-submenu__link.active {
  text-decoration-line: underline;
  text-underline-offset: 4px; 
}

// Main Section
.main {
    padding: 30px 30px 20px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.subtitle {
    color: $white-transparent;
    font-size: 1.3rem;
    display: flex;
    &:before {
        content: "";
        flex: 1;
        height: 1px;
        background-color: $white-transparent;
        margin-left: 30px;
        order: 2;
        margin-top: 15px;
    }
}
.title {
    font-size: 3rem;
    color: $white;
    margin: 30px 0;
    position: relative;
    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $white-transparent;
        bottom: -30px;
        position: absolute;
        display: block;
    }
}
.gallery {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 30px));
  grid-template-rows: repeat(4, 25%);
  gap: 10px;
  column-gap: 30px;
  height: calc(100% - 250px);
  box-sizing: border-box;
  margin-left: 20px;
  margin-top: 40px;

  &__img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    order: 2;
    transition: all ease 0.2s;
    &:hover {
        transform: scale(1.05);
    }
  }

  &__img:nth-child(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
  }

  &__img:nth-child(2) { grid-column: 5 / 6; grid-row: 1 / 2; }
  &__img:nth-child(3) { grid-column: 5 / 6; grid-row: 2 / 3; }
  &__img:nth-child(4) { grid-column: 5 / 6; grid-row: 3 / 4; }
  &__img:nth-child(5) { grid-column: 5 / 6; grid-row: 4 / 5; }
}
.breadcrumbs {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    gap: 20px;
    &:before {
        content: "";
        flex: 1;
        height: 1px;
        background-color: $white-transparent;
        margin: 0 10px;
        order: 2;
        margin-top: 15px;
    }
    &__title {
        color: $white;
        font-size: 1.3rem;
        order: 1;
    }
    &-link {
        order: 3;
        color: $white;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__arrow {
            width: 20px;
        }
    }
}


// Additional Classes And Animations
.rotate {
    transform: rotate(180deg);
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0.95); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(1.05); }
  to { opacity: 1; transform: scale(1); }
}

.fade-out {
  animation: fadeOut 0.2s ease forwards;
}

.fade-in {
  animation: fadeIn 0.2s ease forwards;
}

// Responsive
@media screen and (max-width: 992px) {
    body {
        flex-direction: column;
    }
    .header {
        width: 100%;
        height: auto;

    }
    .top-menu {
        width: 200px;
    }
    .bottom-menu {
        background-color: $grey-transparent;
        padding: 5px 0;
        border-radius: 100px;
        position: absolute;
        right: 30px;
        top: 30px;
        &__item {
            margin-left: 35px;
        }
        &__item::before {
            left: -23px;
        }
        &__item:not(:last-child) {
           margin-bottom: 0;
           &:after {
                height: 39%;
                left: -19px;
           }
        }
        &__link {
            font-size: 0;
        }
    }
}
@media screen and (max-width: 576px) {
    .subtitle, .breadcrumbs__title, .breadcrumbs-link {
        font-size: 1rem;
    }
    .title {
        font-size: 1.5rem;
    }
    .gallery {
        margin-left: 0;
        margin-top: 20px;
        display: block;
        &__img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
       
    }
}