@use 'main.scss';
@use 'styles.scss' as *;

body {
  position: relative;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  @include ClashDisplay;
}
.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
  z-index: -1;
  opacity: 1;
  &.fade-out {
    opacity: 0;
  }
}

.circle-menu {
  clip-path: polygon(60% -20%, 200% -20%, 110% 200%, 60% 200%);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -55%);
  width: 50%;
  height: 100vh;
  border-radius: 50%;
  transition: transform 1s ease;
  &::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 15%;
    width: calc(var(--radius, 40vh) * 3);
    height: calc(var(--radius, 40vh) *2.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  @media (min-width: 1440px) {
    left: -5%;
  }

  @media (min-width: 1920px) {
    left: -10%;
  }

  @media (min-width: 2560px) {
    left: -15%;
  }

  @media (max-height: 700px) {
    left: -8%;
  }

  @media (min-height: 701px) and (max-height: 900px) {
    left: -10%;
  }


  @media (min-height: 901px) and (max-height: 1200px) {
    left: -20%;
  }

  @media (min-height: 1201px) {
    left: -25%;
  }

  @media (max-width: 1024px) {
    display: none;
  }

}


.item {
  color: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  font-weight: 400;
  transform-origin: center center;

  --count: 10;
  --step: calc(360deg / var(--count));
  --angle: calc(var(--i) * var(--step));
  transform:
    rotate(var(--angle))
    translate(50.5vh)
    rotate(calc(var(--angle) * -1));
  transition: all 0.3s ease;
  opacity: 0.6;
  &.active {
    opacity: 1;
  }
}

.text {
    color: $white;
    width: 50%;
    margin-left: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    & .title {
      font-size: 2rem;
      margin-bottom: 30px;
      font-weight: 500;
    }
    & .subtitle {
      margin-bottom: 30px;
      font-weight: 400;
    }
    & .button {
      padding: 10px 50px;
      border: 1px solid $white;
      border-radius: 100px;
      color: $white;
      font-weight: 500;
    }

    
  @media (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
  }
}

.mobile-menu {
  color: $white;
  text-align: end;
  position: fixed;
  right: 50px;
  top: 25px;

  &__item {
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    &:not(:last-child)::before {
      width: 1px;
      height: 26px;
      display: block;
      position: absolute;
      right: -20px;
      top: 14px;
      background-color: rgba(255, 255, 255, 0.6);;
      content: '';
    }
    &:after {
      width: 10px;
      height: 10px;
      display: block;
      background-color: rgba(255, 255, 255, 0.6);;
      content: '';
      border-radius: 50%;
      position: absolute;
      right: -25px;
      top: 4px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &.active {
      color: $white;
      &::after{
        background-color: $white;
      }
    }
  }

  @media (min-width: 1025px) {
    display: none;
  }
}