@use 'main.scss';
@use 'styles.scss' as *;

body {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.button {
    cursor: pointer;
    display: block;
}
.popup {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.folder {
    position: absolute;
    left: 30px;
    top: 30px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    &__img {
        width: 80px;
        height: 80px;
    }
    &__name {
        font-family: 'Monaco';
        color: $blue;
        font-size: 0.8rem;
    }
}
.notes {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 250px;
    height: 250px;
}

// Terminal
.terminal {
    position: fixed;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: $charcoal-black;
    border-top: 1px solid $white-transparent;
    font-family: 'Monaco';
    &-header {
        position: absolute;
        top: -42px;
        left: 5px;
        width: 50%;
        max-width: 500px;
        background-color: $charcoal-black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-top: 1px solid $white-transparent;
        border-right: 1px solid $white-transparent;
        border-left: 1px solid $white-transparent;
        &__title {
            color: $golden-yellow;
            font-size: 1.3rem;
        }
        &__close {
            color: $deep-forest;
            display: flex;
            align-items: center;
            cursor: pointer;
            & span {
                margin-right: 10px;
            }
            & img {
                width: 20px;
            }
        }
    }
    &-main {
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        color: $golden-yellow;
        letter-spacing: 1px;
        height: 100%;
        overflow: auto;
        line-height: 1.1rem;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $charcoal-black;
        }
        &::-webkit-scrollbar-thumb {
            background: $white-transparent;
            border-radius: 10px;
        }
        &__text {
            & .blue {
                color: $blue;
            }
            & .red {
                color: $red;
            }
            &:last-child {
                padding-bottom: 10px;
            }
        }
        &__wrapper {
            display: flex;
        }
        &-form__input {
            font-family: 'Monaco';
            background-color: transparent;
            border: none;
            font-size: 1rem;
            color: $blue;
            width: 60px;
            &:focus {
                outline: none;
            }
            &::placeholder {
                color: $blue;
            }
        }
        &-numbers {
            &__item {
                font-family: 'Monaco';
                text-align: right;
            }
        }
    }
}
.memories {
    font-family: 'Monaco';
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    background-color: $charcoal-black;
    border: 1px solid $white-transparent;
    border-radius: 10px;
    overflow: hidden;
    z-index: 999;

    &-header {
        padding: 15px 20px;
        border-bottom: 1px solid $white-transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
        color: $golden-yellow;
        font-size: 1.3rem;
    }
    &__close {
        color: $deep-forest;
        display: flex;
        align-items: center;
        cursor: pointer;
        & span {
            margin-right: 10px;
            font-size: 1.3rem;
        }
        & img {
            width: 25px;
        }
    }
  }

  &-main {
    display: grid;
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px;
    grid-template-columns: repeat(5, calc(20% - 8px));
    grid-template-rows: repeat(4, calc(25% - 8px));
    gap: 10px;
    &__active {
        grid-column: 1 / 5;
        grid-row: 1 / 5;
        width: 100%;
        height: 100%;
    }
    &-list {
        grid-column: 5/6;
        grid-row: 1/5;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, calc(25% - 8px));
        row-gap: 10px;
        &__img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            transition: all ease 0.2s;
            &:hover {
                border: 2px solid $white-transparent;
            }
        }
        &__item:nth-child(1) {
            grid-column: 1/1;
            grid-row: 1/2;
        }
        &__item:nth-child(2) {
            grid-column: 1/1;
            grid-row: 2/3;
        }
        &__item:nth-child(3) {
            grid-column: 1/1;
            grid-row: 3/4;
        }
        &__item:nth-child(4) {
            grid-column: 1/1;
            grid-row: 4/5;
        }
    }
  }
}




// Additional Classes
.show {
    display: block;
}
.show-flex {
    display: flex;
}

// Responsive
@media screen and (max-width: 992px) {
    .notes {
        width: 150px;
        height: 150px;
        right: 15px;
        top: 15px;
    }
}

@media screen and (max-width:768px) {
    .memories-main, .memories-main-list {
        display: flex;
        flex-direction: column;
    }
    .memories-main {
        overflow-y: scroll;
         &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: $charcoal-black;
        }
        &::-webkit-scrollbar-thumb {
            background: $white-transparent;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width: 576px) {
    .terminal-header__title, .terminal-header__close span {
        font-size: 0.8rem;
    }
    .terminal-main__text, .terminal-main-numbers__item, .terminal-main-form__input, .memories-header__title, .memories-header__close span {
        font-size: 0.7rem;
    }
    .memories-header__close img {
        width: 15px;
    }
}
@media screen and (max-width: 380px) {
    .terminal-main-numbers {
        display: none;
    }
}
