@use 'main.scss';
@use 'styles.scss' as *;
@use 'sidebar.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

// Main - the same for all synopsis pages
body {
    display: flex;
    height: 100dvh;
}

//Header - Danylo's part
    .header {
        width: 20%;
        transition: all ease 0.3s;
        background-image: url(../images/bg_4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        box-sizing: border-box;
        padding: 20px; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        margin-top: 10px;
        margin-bottom: 30px;
        display: block;
        font-family: $font-synapse;
        font-size: $fs-h1;

        @media (max-width: 768px) {
            @include font-size($fs-h1-tablet);
        }
        
        @media (max-width: 480px) {
            @include font-size($fs-h1-mobile);
        }
    }

    // Top Menu
    .top-menu {
        p{
            @include ClashDisplay;
            font-weight: 400;
        }
        overflow: hidden;
       
        // height: 18vh;
        transition: all ease 0.3s;
        &__item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            color: $white;
            padding: 0 10px;
            background-color: $grey-transparent;
            border-radius: 5px;
            font-weight: 500;
            font-size: 1.2rem;
            position: relative;
            margin-bottom: 10px;
            & .arrow {
                width: 20px;
            }
        }
    }

    .updates-status {
        display: flex;
        margin-right: 30px;
        opacity: 0.6;
        &__item {
            display: none;
        }
        & .active {
            display: block;
        }
    }
    .tickets {
        flex-direction: column;
        &-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            &:after {
                content: '';
                width: 100%;
                height: 1px;
                display: block;
                background-color: rgba(255, 255, 255, 0.4);
                position: absolute;
                bottom: -1px;
            }
        }
        &-link{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            // margin-top: 20px;
            & .arrow {
                position: unset;
            }
        }
    }
    .newsletters-link {
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .top-menu__arrow {
        position: absolute;
        width: 20px;
        right: 10px;
        top: 10px;
        transition: all ease 0.3s;
    }

// Main Section - the same for all pages
    .main {
        padding: 30px 30px 20px 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: $black;
        overflow-y: scroll;

        @media (max-width: 992px) {
            // min-height: 65vh;
            overflow-y: visible;
        }
    }

    // Subheading
    h2{
        @include heading_style;
        margin-right: 1vw;
        color: $slate-blue;
        font-size: $fs-h2;

        @media (max-width: 768px) {
            @include font-size($fs-h2-tablet);
        }
        
        @media (max-width: 480px) {
            @include font-size($fs-h2-mobile);
        }
    }

    .subheading_box{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .underlined{
        border-bottom: $line;
        width: 100%;
        margin: 0.5vh
    }

    // Main heading
    h1{
        @include heading_style;
        font-size: $fs-h1;
        margin: 4vh 0;

        @media (max-width: 768px) {
            @include font-size($fs-h1-tablet);
        }
        
        @media (max-width: 480px) {
            @include font-size($fs-h1-mobile);
        }
    }

    // Contact info
    p{
        @include Fredoka;
        line-height: 2;
        font-size: $fs-body;

        @media (max-width: 768px) {
            @include font-size($fs-body-tablet);
        }
        
        @media (max-width: 480px) {
            @include font-size($fs-body-mobile);
        }
    }

    .contact_info{
        display: flex;
        flex-direction: row;
        padding-bottom: 2vh;
        margin-bottom: 3vh;
        border-bottom: $line;
        justify-content: space-between;
    
        @media (max-width: 480px) {
            flex-direction: column;
        }
    
    }
    
    .contact_links{
        margin-left: 4vw;
        display: flex;
        flex-direction: row;
    
        @media (max-width: 480px) {
            margin-left: 0;
            margin-right: 4vw;
        }
    }
    
    .info{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
    
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    
        @media (max-width: 480px) {
            justify-content: left;
        }
    }
    
    a{
        text-decoration: none;
    }
    
    .contact_type{
        color: $slate-blue;
        @include heading_style;
        margin-right: 1.5vw;
    }
    
    // arrows
    .icon{
        width: 25px;
        height: auto;
        margin-left: 1vw;
    }

    // Related page section
    .related_pages_box{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: auto;
        padding-bottom: 1vh;
        

        h2{
            color: $slate-blue;

            @media (max-width: 768px) {
                @include font-size($fs-h2-tablet);
    
            }

            @media (max-width: 480px) {
                @include font-size($fs-h2-mobile);
            }
        }
        
        @media (max-width: 768px) {
            padding-bottom: 3vh;
        }
        
    }

    .related_page{
        display: flex;
        align-items: center;
    }

    .related_page button{
        display: inline-flex;
        align-items: center; 
        gap: 0.4em;
        margin-left: 1vw;
    }

    .related_page .btn_secondary{
        padding: 0;
    }

    .nextPage a{
        display: flex;flex-direction: row;
        align-items: center;
    }

// For main synopsis page
    .content{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 4vh;

        @media (max-width: 597px) {
            flex-direction: column;
            margin-bottom: 2vh;
        }
    }

    .watch_content{
        align-items: center;
        height: 100%;

        @media (max-width: 1200px) {
            flex-direction: column;
            // margin-bottom: 2vh;
        }
    }

    .poster{
        margin-right: 3vw;
    }

    .frist_vid{
        margin-right: 3vw;

        @media (max-width: 1200px) {
            margin-right: 0;
        }
    }

    .content_side{
        width: 50%;

        .poster_img{
            width: 80%;
            margin-left:4.5vw;

            @media (max-width: 597px) {
                margin-bottom: 2vh;
            }
        }

        @media (max-width: 597px) {
            width: 100%;
        }
    }

    .content_side_video{
        width: 50%;
        position: relative;

        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .movie_facts{
        margin-bottom: 2vh;
        padding-bottom: 2vh;
        border-bottom: $line;
    }

    .film_info_box{
        display: flex;
        flex-direction: row;

        p{
            width: 50%;
            @media (max-width: 1235px) {
                width: 100%;
            }
        }
    }


    .genres{
        display: flex;
        flex-direction: row;
        width: 50%;

        @media (max-width: 1235px) {
            flex-direction: column;
            width: 100%;
        }
    }

    .genre_type{
        text-align: center;
        padding: 1px 20px;
        border: $line;
        border-radius: 30px;
        margin-right:10px;

        @media (max-width: 1235px) {
        margin-bottom: 1vh;
        }
    }

    .info_type{
        @include ClashDisplay;
        font-weight: 500;
        color: $slate-blue;
    }

    #overview{
        margin-bottom: 3vh;
        text-align: justify;
    }


//Company & trailer page    
    .video_description{
        padding-top: 2vh;
        margin-bottom: 2vh;
        border-top: $line;
        justify-content: space-between;
    }

    // Video
    .trailer{
        width: 100%;
        // margin-bottom: 2vh;
        // position: absolute;
    }
   
    .video_info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2vh 0;
    }

    .vid{
        position: relative;
        width: 100%;
    }

    .vid:hover {
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.653); 
      }
    
    .play_icon{
        // width: 50px;
        padding: 10px;
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 100%;
        // border: $line;
        // background-color: $charcoal-black;
      
        display: none;
        backdrop-filter: blur(6px);
      }

//Storyline page
    //description
    .description_storyline{
        border-bottom: $line;
        text-align: justify;
        text-justify:inter-word;
        margin-bottom: 3vh;
        padding-bottom: 3vh;

        p{
            line-height: 1.5em;
        }
    }

    .moments_box{
        @media (max-width: 480px) {
            margin-bottom: 5vh;
        }
    }

    .all_moments{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;
        position: relative;

        @media (max-width: 480px) {
            flex-direction: column;
            margin-top: 3vh;
        }
    }

    .moment{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moment:nth-of-type(2){
        margin: 0 1vw;

        @media (max-width: 480px) {
            margin: 3vh 0;
        }
    }

    .moment_link{
        color: $white;
        margin: 2vh 0;
        font-size: $fs-h2;
        @include heading_style;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            @include font-size($fs-h2-tablet);
        }
        
        @media (max-width: 480px) {
            @include font-size($fs-h2-mobile);
        }
    }

    .img_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 23vh;
        position: relative;
    }

    .moment_img{
        width: 100%;
        height: 23vh;
        object-fit: cover;
        display: none;
    
        @media (max-width: 480px) {
            display: block;
        }
        
    }

    //shapes
    .shapes{
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        width: 20vw;
        height: 20vh;
    }

    .dot{
        width: 2rem;
        height: 2rem;
        border: 1px solid $slate-blue;
        background-color: $black;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
    }

    .vl{
        border-left: $line;
        height: 13vh;
        position: absolute;
        margin-bottom: 12vh;
    }

    .hl{
        border-bottom: $line;
        width: 70%;

        @media (max-width: 992px) {
            width: 85%;
        }
    }

    .horizontal_box{
        display: flex;
        flex-direction: row;
        width: 75vw;
        height: 20vh;
        justify-content: center;
        align-items: center;
        margin-top: 7vh;
        position: absolute;
        
        @media (max-width: 480px) {
            display: none;
        }
    }

// Moments page
    // Carousel
    .moments_header{
        width: 50%;
    }

    .top-menu-moments{
        width: 300px;
    }

    .carousel_box{
        position: relative;
        max-width: 1000px;
        height: 60vh;
        margin-bottom: 4vh;

        @media screen and (max-width: 992px) {
            height: 60vh;
        }

        @media screen and (max-width: 573px) {
            height: 40vh;
        }
    }

    .slides{
        display: none;
        height: 100%;
    }

    .carousel_img{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .numbertext{
        font-size: $fs-body;
        @include Fredoka;
        position: absolute;
        margin: 1vw;
    }

    .slider_btns{
        width: 100%;
        // height: 3vh;
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 48%;
    }

    .prev .icon{
        rotate:90deg;
    }

    .next .icon{
        rotate:-90deg;
    }

    //Image description
    .description_box{
        @include Fredoka;
        margin-bottom: 5vh;
        text-align: justify;
        text-justify:inter-word;

        p{
            line-height: 1.5em;
        }
    }

// Header media query - responsiveness
    @media screen and (max-width: 992px) {
        body {
            flex-direction: column;
        }
        .header {
            width: 100%;
            height: auto;

        }
        .top-menu {
            width: 200px;
        }
    }