html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.ttf");
  font-style: normal;
  font-weight: 500;
}
body {
  background: #151515;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navigation {
  padding: 20px 0;
  position: fixed;
  left: 30px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Clash Display", sans-serif;
}

.show {
  display: block !important;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.popup__wrapper {
  display: flex;
  min-height: 0;
  flex-direction: column;
  border-top: 2px solid rgba(100, 100, 100, 0.6431372549);
  background-color: #151f20;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80%;
  padding: 50px 30px;
}
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.popup-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(100, 100, 100, 0.6431372549);
  position: absolute;
  bottom: -50px;
}
.popup-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.popup-close span {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 20px;
}
.popup-close img {
  width: 25px;
}
.popup__title {
  font-size: 3rem;
  color: #fff;
}
.popup-gallery {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  min-height: 0;
  flex: 1;
}
.popup-gallery__item {
  width: 32%;
  display: flex;
  flex-direction: column;
}
.popup-gallery__img {
  flex: 1;
  min-height: 0;
  margin-bottom: 20px;
}
.popup-gallery__header {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.popup-gallery__header span {
  font-weight: 500;
  margin-right: 10px;
}
.popup-gallery__text {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 768px) {
  .popup__wrapper {
    padding: 30px;
  }
  .popup-header {
    margin-bottom: 60px;
  }
  .popup-header::after {
    bottom: -30px;
  }
  .popup__title {
    font-size: 2rem;
  }
  .popup-close span {
    font-size: 1rem;
  }
  .popup-gallery {
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: scroll;
  }
  .popup-gallery__item {
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
  }
  .popup-gallery__img, .popup-gallery__header {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 576px) {
  .popup-gallery__item {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .popup__title {
    font-size: 1.3rem;
  }
  .popup-gallery__header {
    font-size: 1rem;
  }
  .popup-gallery__text {
    font-size: 0.8rem;
  }
}