@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CyberPunk";
  src: url("/fonts/CyberpunkStyle/cyberpunk_style_light.woff2") format("woff");
  font-style: normal;
  font-weight: 300;
}
.btn_primary {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  padding: 1vh 5vh;
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
  margin: 2vh auto;
}
@media (max-width: 768px) {
  .btn_primary {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_primary {
    font-size: 0.95rem;
  }
}

.btn_secondary {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  padding: 1vh 5vh;
}
@media (max-width: 768px) {
  .btn_secondary {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_secondary {
    font-size: 0.95rem;
  }
}

.btn_icon {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}
@media (max-width: 768px) {
  .btn_icon {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_icon {
    font-size: 0.95rem;
  }
}

body {
  background: #151515;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navigation {
  padding: 20px 0;
  position: fixed;
  left: 30px;
}

.logo {
  font-weight: 400;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "CyberPunk", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.6rem;
  }
}
.top-menu {
  width: 250px;
  overflow: hidden;
  height: 40px;
  transition: all ease 0.3s;
}
.top-menu__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  background-color: rgba(101, 101, 101, 0.4745098039);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 10px;
}
.top-menu__item .arrow {
  width: 20px;
}

.updates-status {
  display: flex;
  margin-right: 30px;
  opacity: 0.6;
}
.updates-status__item {
  display: none;
}
.updates-status .active {
  display: block;
}

.tickets {
  flex-direction: column;
}
.tickets-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.tickets-header:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: -15px;
}
.tickets-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 30px;
}
.tickets-link .arrow {
  position: unset;
}

.newsletters-link {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-menu__arrow {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 10px;
  transition: all ease 0.3s;
}

.bottom-menu {
  z-index: 999;
  margin-top: auto;
}
.bottom-menu__item {
  display: block;
  margin-left: 50px;
  position: relative;
}
.bottom-menu__item:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -30px;
  top: 5px;
  display: block;
}
.bottom-menu__item:not(:last-child):after {
  content: "";
  display: block;
  width: 1px;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -25px;
  top: 15px;
}
.bottom-menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.bottom-menu__item.active .bottom-menu__link {
  color: #fff;
}
.bottom-menu__item.active::before {
  background-color: #fff;
}
.bottom-menu__link {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-submenu {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}
.bottom-submenu:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  left: -20px;
}
.bottom-submenu .bottom-submenu__item:not(:last-child) {
  margin-bottom: 10px;
}
.bottom-submenu .bottom-submenu__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}

.bottom-menu__item:not(.active) > .bottom-submenu {
  display: none;
}

.bottom-menu__item.active .bottom-submenu__link.active {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  color: #fff;
}

.bottom-menu__item:not(:last-child):after {
  height: calc(100% + 10px) !important;
}

@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  .header {
    width: 100% !important;
    height: auto !important;
    overflow: unset !important;
    position: unset !important;
    min-height: unset !important;
  }
  .top-menu {
    width: 200px;
  }
  .logo {
    margin-bottom: 30px !important;
  }
  .bottom-menu .active {
    width: 0;
  }
  .bottom-menu {
    text-align: end;
    padding: 5px 0;
    border-radius: 100px;
    position: absolute;
    right: 30px;
    top: unset;
    transition: right 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: rgba(101, 101, 101, 0.4745098039);
  }
  .bottom-menu__item {
    margin-left: 35px;
  }
  .bottom-menu__item::before {
    left: -23px;
  }
  .bottom-menu__item:not(:last-child) {
    margin-bottom: 5px;
  }
  .bottom-menu__item:not(:last-child):after {
    height: 70%;
    left: -19px;
  }
  .bottom-menu__link {
    font-size: 0;
  }
  .bottom-submenu {
    text-align: end !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 20px;
    height: 0 !important;
  }
  .bottom-submenu .bottom-submenu__link {
    font-size: 0 !important;
  }
  .bottom-submenu::before {
    left: unset;
    right: -20px;
  }
  .bottom-menu__item:not(:last-child):after {
    height: 70% !important;
  }
  .show {
    top: 30px;
    right: 60px;
    background-color: transparent;
  }
  .show .bottom-menu__item {
    margin-left: 50px;
  }
  .show .bottom-menu__item::before {
    left: unset !important;
    right: -30px;
  }
  .show .bottom-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .show .bottom-menu__item:not(:last-child):after {
    height: 150%;
    left: unset !important;
    right: -26px;
  }
  .show .bottom-menu__link {
    font-size: 1.15rem;
  }
  .show .bottom-menu__item.active > .bottom-submenu .bottom-submenu__link {
    font-size: 1.1rem !important;
  }
  .show .bottom-menu__item.active > .bottom-submenu {
    margin-left: 20px !important;
    margin-top: 10px !important;
    height: auto !important;
  }
  .show .bottom-menu__item:not(:last-child):after {
    height: calc(100% + 5px) !important;
  }
  .header:has(> .show) {
    padding-bottom: 120px;
  }
  .header:has(> .show) .active {
    width: unset;
  }
}
@media screen and (max-width: 576px) {
  .header:has(> .show) .top-menu {
    width: 0;
    height: 40px !important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  display: flex;
  height: 100dvh;
}

.header {
  width: 20%;
  transition: all ease 0.3s;
  background-image: url(../images/bg13.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Clash Display";
}

.logo {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-family: "Cyberpunk";
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 1.6rem;
  }
}

.top-menu p {
  font-family: "Clash Display";
  line-height: normal;
  font-weight: 400;
}

.main {
  padding: 30px 30px 20px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #151515;
  overflow-y: scroll;
}
@media (max-width: 992px) {
  .main {
    padding: 20px;
    overflow-y: visible;
  }
}

h2 {
  font-family: "Clash Display";
  font-weight: 400;
  margin-right: 1vw;
  color: #b3bfbf;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1rem;
  }
}

.subheading_box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.underlined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  width: 100%;
  margin: 0.5vh;
}

h1 {
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 2.6rem;
  margin: 4vh 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  padding-bottom: 4vh;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }
}

p {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 2;
  font-size: 1.15rem;
  text-align: justify;
}
@media (max-width: 768px) {
  p {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 1rem;
  }
}

.related_pages_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  padding-bottom: 1vh;
}
.related_pages_box h2 {
  color: #b3bfbf;
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .related_pages_box h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .related_pages_box h2 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .related_pages_box {
    padding-bottom: 3vh;
  }
}

.related_page {
  display: flex;
  align-items: center;
}

.related_page button {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  margin-left: 1vw;
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .related_page button {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .related_page button {
    font-size: 1rem;
  }
}

.related_page .btn_secondary {
  padding: 0;
}

.nextPage a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 25px;
  height: auto;
  margin-left: 1vw;
}
@media (max-width: 768px) {
  .icon {
    width: 21px;
    margin-left: 2vw;
  }
}

.drop_down_info {
  display: none;
}
@media (max-width: 458px) {
  .drop_down_info {
    display: flex;
  }
}

@media screen and (max-width: 992px) {
  body {
    flex-direction: column;
  }
  .header {
    width: 100%;
    height: auto;
  }
  .top-menu {
    width: 200px;
  }
}
.info_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}
.info_title h2 {
  color: #fff;
}
@media (max-width: 768px) {
  .info_title h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .info_title h2 {
    font-size: 1.15rem;
  }
}
@media (max-width: 768px) {
  .info_title {
    margin-bottom: 2vh;
  }
}
@media (max-width: 458px) {
  .info_title {
    padding-bottom: 2vh;
    border-bottom: 1px solid white;
  }
}

.dot_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #b3bfbf;
  border-radius: 50%;
  margin-right: 1vw;
}
@media (max-width: 1024px) {
  .dot {
    width: 0.5rem;
    height: 0.5rem;
  }
}
@media (max-width: 768px) {
  .dot {
    margin-right: 2vw;
  }
}

.hl {
  border-bottom: 0;
}
@media (max-width: 458px) {
  .hl {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 2vh;
  }
}

.info_columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 3vh;
}
@media (max-width: 768px) {
  .info_columns {
    flex-direction: column;
  }
}
@media (max-width: 458px) {
  .info_columns {
    display: none;
  }
}

.activeContent {
  display: flex;
}

.left {
  width: 47vw;
  margin: 2vw;
}
@media (max-width: 1024px) {
  .left {
    margin-right: 4vw;
    width: 55vw;
  }
}
@media (max-width: 768px) {
  .left {
    width: 100%;
    margin: 0;
  }
}

video {
  width: 100%;
}

.right {
  width: 30%;
  margin-top: 2vw;
  background-color: rgba(77, 77, 77, 0.449);
  border-radius: 10px;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right p {
  line-height: normal;
}
.right h2 {
  color: #fff;
  font-size: 2.2em;
  line-height: 1.4;
  margin-bottom: 1.5vh;
}
@media (max-width: 768px) {
  .right h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .right h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 1024px) {
  .right {
    width: 40%;
    padding: 1.5vw;
  }
}
@media (max-width: 768px) {
  .right {
    width: 100%;
  }
}
@media (max-width: 458px) {
  .right {
    padding: 5vw;
  }
}

.p_title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5vh;
}
.p_title h2 {
  font-size: 1.15rem;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .p_title h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  .p_title h2 {
    font-size: 1.15rem;
  }
}

.p_content {
  margin-bottom: 4vh;
}

.company_img {
  width: 100%;
}

.list_style {
  list-style: disc;
  list-style-position: inside;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 1.7;
  margin-left: 1vw;
}

.info_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.info {
  width: 50%;
  margin-top: 0.5vh;
}

.info_type {
  font-family: "Clash Display";
  font-family: "Clash Display";
  font-weight: 400;
  color: #b3bfbf;
}