html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.ttf");
  font-style: normal;
  font-weight: 500;
}
body {
  background: #151515;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navigation {
  padding: 20px 0;
  position: fixed;
  left: 30px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  display: block;
}

.popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.folder {
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
}
.folder__img {
  width: 80px;
  height: 80px;
}
.folder__name {
  font-family: "Monaco";
  color: #1e6da1;
  font-size: 0.8rem;
}

.notes {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 250px;
  height: 250px;
}

.terminal {
  position: fixed;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: #151f20;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  font-family: "Monaco";
}
.terminal-header {
  position: absolute;
  top: -42px;
  left: 5px;
  width: 50%;
  max-width: 500px;
  background-color: #151f20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}
.terminal-header__title {
  color: #fba105;
  font-size: 1.3rem;
}
.terminal-header__close {
  color: #5c6c72;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.terminal-header__close span {
  margin-right: 10px;
}
.terminal-header__close img {
  width: 20px;
}
.terminal-main {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #fba105;
  letter-spacing: 1px;
  height: 100%;
  overflow: auto;
  line-height: 1.1rem;
}
.terminal-main::-webkit-scrollbar {
  width: 8px;
}
.terminal-main::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #151f20;
}
.terminal-main::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}
.terminal-main__text .blue {
  color: #1e6da1;
}
.terminal-main__text .red {
  color: #b21b1b;
}
.terminal-main__text:last-child {
  padding-bottom: 10px;
}
.terminal-main__wrapper {
  display: flex;
}
.terminal-main-form__input {
  font-family: "Monaco";
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #1e6da1;
  width: 60px;
}
.terminal-main-form__input:focus {
  outline: none;
}
.terminal-main-form__input::-moz-placeholder {
  color: #1e6da1;
}
.terminal-main-form__input::placeholder {
  color: #1e6da1;
}
.terminal-main-numbers__item {
  font-family: "Monaco";
  text-align: right;
}

.memories {
  font-family: "Monaco";
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: 70vh;
  background-color: #151f20;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
}
.memories-header {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.memories-header__title {
  color: #fba105;
  font-size: 1.3rem;
}
.memories-header__close {
  color: #5c6c72;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.memories-header__close span {
  margin-right: 10px;
  font-size: 1.3rem;
}
.memories-header__close img {
  width: 25px;
}
.memories-main {
  display: grid;
  width: 100%;
  height: calc(100% - 50px);
  padding: 20px;
  grid-template-columns: repeat(5, calc(20% - 8px));
  grid-template-rows: repeat(4, calc(25% - 8px));
  gap: 10px;
}
.memories-main__active {
  grid-column: 1/5;
  grid-row: 1/5;
  width: 100%;
  height: 100%;
}
.memories-main-list {
  grid-column: 5/6;
  grid-row: 1/5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, calc(25% - 8px));
  row-gap: 10px;
}
.memories-main-list__img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: all ease 0.2s;
}
.memories-main-list__img:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}
.memories-main-list__item:nth-child(1) {
  grid-column: 1/1;
  grid-row: 1/2;
}
.memories-main-list__item:nth-child(2) {
  grid-column: 1/1;
  grid-row: 2/3;
}
.memories-main-list__item:nth-child(3) {
  grid-column: 1/1;
  grid-row: 3/4;
}
.memories-main-list__item:nth-child(4) {
  grid-column: 1/1;
  grid-row: 4/5;
}

.show {
  display: block;
}

.show-flex {
  display: flex;
}

@media screen and (max-width: 992px) {
  .notes {
    width: 150px;
    height: 150px;
    right: 15px;
    top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .memories-main, .memories-main-list {
    display: flex;
    flex-direction: column;
  }
  .memories-main {
    overflow-y: scroll;
  }
  .memories-main::-webkit-scrollbar {
    width: 5px;
  }
  .memories-main::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #151f20;
  }
  .memories-main::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
  }
}
@media screen and (max-width: 576px) {
  .terminal-header__title, .terminal-header__close span {
    font-size: 0.8rem;
  }
  .terminal-main__text, .terminal-main-numbers__item, .terminal-main-form__input, .memories-header__title, .memories-header__close span {
    font-size: 0.7rem;
  }
  .memories-header__close img {
    width: 15px;
  }
}
@media screen and (max-width: 380px) {
  .terminal-main-numbers {
    display: none;
  }
}