@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CyberPunk";
  src: url("/fonts/CyberpunkStyle/cyberpunk_style_light.woff2") format("woff");
  font-style: normal;
  font-weight: 300;
}