@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Monaco";
  src: url("/fonts/Monaco/Monaco.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "CyberPunk";
  src: url("/fonts/CyberpunkStyle/cyberpunk_style_light.woff2") format("woff");
  font-style: normal;
  font-weight: 300;
}
.btn_primary {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  padding: 1vh 5vh;
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
  margin: 2vh auto;
}
@media (max-width: 768px) {
  .btn_primary {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_primary {
    font-size: 0.95rem;
  }
}

.btn_secondary {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  padding: 1vh 5vh;
}
@media (max-width: 768px) {
  .btn_secondary {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_secondary {
    font-size: 0.95rem;
  }
}

.btn_icon {
  font-family: "ClashDisplay-Medium";
  border-radius: 30px;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}
@media (max-width: 768px) {
  .btn_icon {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .btn_icon {
    font-size: 0.95rem;
  }
}

body {
  background: #151515;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navigation {
  padding: 20px 0;
  position: fixed;
  left: 30px;
}

.logo {
  font-weight: 400;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "CyberPunk", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.6rem;
  }
}
.top-menu {
  width: 250px;
  overflow: hidden;
  height: 40px;
  transition: all ease 0.3s;
}
.top-menu__item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  background-color: rgba(101, 101, 101, 0.4745098039);
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 10px;
}
.top-menu__item .arrow {
  width: 20px;
}

.updates-status {
  display: flex;
  margin-right: 30px;
  opacity: 0.6;
}
.updates-status__item {
  display: none;
}
.updates-status .active {
  display: block;
}

.tickets {
  flex-direction: column;
}
.tickets-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.tickets-header:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  bottom: -15px;
}
.tickets-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-top: 30px;
}
.tickets-link .arrow {
  position: unset;
}

.newsletters-link {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-menu__arrow {
  position: absolute;
  width: 20px;
  right: 10px;
  top: 10px;
  transition: all ease 0.3s;
}

.bottom-menu {
  z-index: 999;
  margin-top: auto;
}
.bottom-menu__item {
  display: block;
  margin-left: 50px;
  position: relative;
}
.bottom-menu__item:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -30px;
  top: 5px;
  display: block;
}
.bottom-menu__item:not(:last-child):after {
  content: "";
  display: block;
  width: 1px;
  height: 150%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: -25px;
  top: 15px;
}
.bottom-menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.bottom-menu__item.active .bottom-menu__link {
  color: #fff;
}
.bottom-menu__item.active::before {
  background-color: #fff;
}
.bottom-menu__link {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
}

.bottom-submenu {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}
.bottom-submenu:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  left: -20px;
}
.bottom-submenu .bottom-submenu__item:not(:last-child) {
  margin-bottom: 10px;
}
.bottom-submenu .bottom-submenu__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}

.bottom-menu__item:not(.active) > .bottom-submenu {
  display: none;
}

.bottom-menu__item.active .bottom-submenu__link.active {
  text-decoration-line: underline;
  text-underline-offset: 4px;
  color: #fff;
}

.bottom-menu__item:not(:last-child):after {
  height: calc(100% + 10px) !important;
}

@media screen and (max-width: 1000px) {
  body {
    flex-direction: column;
  }
  .header {
    width: 100% !important;
    height: auto !important;
    overflow: unset !important;
    position: unset !important;
    min-height: unset !important;
  }
  .top-menu {
    width: 200px;
  }
  .logo {
    margin-bottom: 30px !important;
  }
  .bottom-menu .active {
    width: 0;
  }
  .bottom-menu {
    text-align: end;
    padding: 5px 0;
    border-radius: 100px;
    position: absolute;
    right: 30px;
    top: unset;
    transition: right 0.3s ease-in-out, transform 0.3s ease-in-out;
    background-color: rgba(101, 101, 101, 0.4745098039);
  }
  .bottom-menu__item {
    margin-left: 35px;
  }
  .bottom-menu__item::before {
    left: -23px;
  }
  .bottom-menu__item:not(:last-child) {
    margin-bottom: 5px;
  }
  .bottom-menu__item:not(:last-child):after {
    height: 70%;
    left: -19px;
  }
  .bottom-menu__link {
    font-size: 0;
  }
  .bottom-submenu {
    text-align: end !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-right: 20px;
    height: 0 !important;
  }
  .bottom-submenu .bottom-submenu__link {
    font-size: 0 !important;
  }
  .bottom-submenu::before {
    left: unset;
    right: -20px;
  }
  .bottom-menu__item:not(:last-child):after {
    height: 70% !important;
  }
  .show {
    top: 30px;
    right: 60px;
    background-color: transparent;
  }
  .show .bottom-menu__item {
    margin-left: 50px;
  }
  .show .bottom-menu__item::before {
    left: unset !important;
    right: -30px;
  }
  .show .bottom-menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .show .bottom-menu__item:not(:last-child):after {
    height: 150%;
    left: unset !important;
    right: -26px;
  }
  .show .bottom-menu__link {
    font-size: 1.15rem;
  }
  .show .bottom-menu__item.active > .bottom-submenu .bottom-submenu__link {
    font-size: 1.1rem !important;
  }
  .show .bottom-menu__item.active > .bottom-submenu {
    margin-left: 20px !important;
    margin-top: 10px !important;
    height: auto !important;
  }
  .show .bottom-menu__item:not(:last-child):after {
    height: calc(100% + 5px) !important;
  }
  .header:has(> .show) {
    padding-bottom: 120px;
  }
  .header:has(> .show) .active {
    width: unset;
  }
}
@media screen and (max-width: 576px) {
  .header:has(> .show) .top-menu {
    width: 0;
    height: 40px !important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  display: flex;
  height: 100dvh;
}

.header {
  width: 20%;
  transition: all ease 0.3s;
  background-image: url(../images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Clash Display";
}

.logo {
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  font-family: "Cyberpunk";
  font-size: 2.6rem;
}
@media (max-width: 768px) {
  .logo {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .logo {
    font-size: 1.6rem;
  }
}

.top-menu p {
  font-family: "Clash Display";
  font-weight: 400;
  line-height: normal;
}

.main {
  padding: 30px 30px 20px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #151515;
  overflow-y: scroll;
}
@media (max-width: 992px) {
  .main {
    overflow-y: visible;
  }
}

h2 {
  font-family: "Clash Display";
  font-weight: 400;
  margin-right: 1vw;
  color: #b3bfbf;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1rem;
  }
}

.subheading_box {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.underlined {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  width: 100%;
  margin: 0.5vh;
}

h1 {
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 2.6rem;
  margin: 4vh 0;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }
}

.synopsis_title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  margin: 4vh 0;
  padding-bottom: 4vh;
}

p {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  line-height: 2;
  font-size: 1.15rem;
}
@media (max-width: 768px) {
  p {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  p {
    font-size: 1rem;
  }
}

.contact_info {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  justify-content: space-between;
}
@media (max-width: 480px) {
  .contact_info {
    flex-direction: column;
  }
}

.contact_links {
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
}
@media (max-width: 480px) {
  .contact_links {
    margin-left: 0;
    margin-right: 4vw;
  }
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
@media (max-width: 768px) {
  .info {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .info {
    justify-content: left;
  }
}

a {
  text-decoration: none;
}

.contact_type {
  color: #b3bfbf;
  font-family: "Clash Display";
  font-weight: 400;
  margin-right: 1.5vw;
}

.icon {
  width: 25px;
  height: auto;
  margin-left: 1vw;
}
@media (max-width: 768px) {
  .icon {
    width: 21px;
    margin-left: 2vw;
  }
}

.related_pages_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: auto;
  padding-bottom: 1vh;
}
.related_pages_box h2 {
  color: #b3bfbf;
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .related_pages_box h2 {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .related_pages_box h2 {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .related_pages_box {
    padding-bottom: 3vh;
  }
}

.related_page {
  display: flex;
  align-items: center;
}

.related_page button {
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  margin-left: 1vw;
  font-family: "Clash Display";
  font-weight: 400;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  .related_page button {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .related_page button {
    font-size: 1rem;
  }
}

.related_page .btn_secondary {
  padding: 0;
}

.nextPage a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
}
@media (max-width: 597px) {
  .content {
    flex-direction: column;
    margin-bottom: 2vh;
  }
}

.watch_content {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
}
@media (max-width: 597px) {
  .watch_content {
    margin-bottom: 2vh;
  }
}
@media (max-width: 1200px) {
  .watch_content {
    flex-direction: column;
  }
}

.poster {
  margin-right: 3vw;
}

.frist_vid {
  margin-right: 3vw;
}
@media (max-width: 1200px) {
  .frist_vid {
    margin-right: 0;
  }
}

.content_side {
  width: 50%;
}
.content_side .poster_img {
  width: 75%;
  margin-left: 5vw;
}
@media (max-width: 992px) {
  .content_side .poster_img {
    width: 90%;
    margin-left: 2vw;
  }
}
@media (max-width: 597px) {
  .content_side .poster_img {
    width: 100%;
    margin-bottom: 4vh;
    margin-left: 0;
  }
}
@media (max-width: 597px) {
  .content_side {
    width: 100%;
  }
}

.content_side_video {
  width: 50%;
  position: relative;
}
@media (max-width: 1200px) {
  .content_side_video {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .content_description {
    margin-bottom: 4vh;
  }
}

.movie_facts {
  margin-bottom: 2vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
}

.film_info_box {
  display: flex;
  flex-direction: row;
}
.film_info_box p {
  width: 50%;
}
@media (max-width: 1235px) {
  .film_info_box p {
    width: 100%;
  }
}

.genres {
  display: flex;
  flex-direction: row;
  width: 50%;
}
@media (max-width: 1235px) {
  .genres {
    flex-direction: column;
    width: 100%;
  }
}

.genre_type {
  text-align: center;
  padding: 1px 20px;
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
  border-radius: 30px;
  margin-right: 10px;
}
@media (max-width: 1235px) {
  .genre_type {
    margin-bottom: 1vh;
  }
}

.info_type {
  font-family: "Clash Display";
  font-weight: 400;
  color: #b3bfbf;
}

#overview {
  margin-bottom: 3vh;
  text-align: justify;
}

.video_description {
  padding-top: 2vh;
  margin-bottom: 2vh;
  border-top: 1px solid rgba(255, 255, 255, 0.3490196078);
  justify-content: space-between;
}

.trailer {
  width: 100%;
}

.video_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  padding-bottom: 1.5vh;
}

.vid {
  position: relative;
  width: 100%;
}

.vid:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.653);
}

.play_icon {
  padding: 5px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
  width: 40px;
}

.company_info {
  border: 1px solid rgba(255, 255, 255, 0.3490196078);
  padding: 2vw;
  border-radius: 10px;
}

.about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

.description_storyline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 3vh;
  padding-bottom: 3vh;
}
.description_storyline p {
  line-height: 1.5em;
}

@media (max-width: 480px) {
  .moments_box {
    margin-bottom: 5vh;
  }
}

.all_moments {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;
  position: relative;
}
@media (max-width: 480px) {
  .all_moments {
    flex-direction: column;
    margin-top: 3vh;
  }
}

.moment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moment:nth-of-type(2) {
  margin: 0 1vw;
}
@media (max-width: 480px) {
  .moment:nth-of-type(2) {
    margin: 3vh 0;
  }
}

.moment_link {
  color: #fff;
  margin: 2vh 0;
  font-size: 1.5rem;
  font-family: "Clash Display";
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .moment_link {
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .moment_link {
    font-size: 1.15rem;
  }
}

.img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 23vh;
  position: relative;
}

.moment_img {
  width: 100%;
  height: 23vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: none;
}
@media (max-width: 480px) {
  .moment_img {
    display: block;
  }
}

.shapes {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20vw;
  height: 20vh;
}

.dot {
  width: 2rem;
  height: 2rem;
  border: 1px solid #b3bfbf;
  background-color: #151515;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.dot_link {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
}

.vl {
  border-left: 1px solid rgba(255, 255, 255, 0.3490196078);
  height: 13vh;
  position: absolute;
  margin-bottom: 12vh;
}

.hl {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3490196078);
  width: 70%;
}
@media (max-width: 992px) {
  .hl {
    width: 85%;
  }
}

.horizontal_box {
  display: flex;
  flex-direction: row;
  width: 75vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  position: absolute;
}
@media (max-width: 480px) {
  .horizontal_box {
    display: none;
  }
}

.moments_header {
  width: 50%;
}

.top-menu-moments {
  width: 300px;
}

.carousel_box {
  position: relative;
  max-width: 1000px;
  height: 60vh;
  margin-bottom: 4vh;
}
@media screen and (max-width: 992px) {
  .carousel_box {
    height: 60vh;
  }
}
@media screen and (max-width: 573px) {
  .carousel_box {
    height: 40vh;
  }
}

.slides {
  display: none;
  height: 100%;
}

.carousel_img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.numbertext {
  font-size: 1.15rem;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  position: absolute;
  margin: 1vw;
}

.slider_btns {
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 48%;
}

.prev .icon {
  rotate: 90deg;
}

.next .icon {
  rotate: -90deg;
}

.description_box {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin-bottom: 5vh;
  text-align: justify;
  text-justify: inter-word;
}
.description_box p {
  line-height: 1.5em;
}

@media screen and (max-width: 992px) {
  body {
    flex-direction: column;
  }
  .header {
    width: 100%;
    height: auto;
  }
  .top-menu {
    width: 200px;
  }
}